.header {
	font-family: 'Cedarville Cursive', cursive;
	background-color: #ffffff;
	margin: 10px;
	padding: 0 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.logo {
	font-size: 1.5em;
}
